*
{
    padding: 0;
    margin: 0;
}

.collapse.navbar-collapse {
  align-items: flex-end;
  flex-direction: column-reverse;
}


.collapse.navbar-collapse {
  align-items: flex-end;
  flex-direction: column-reverse;
}


.navbar- {
  text-align: right;
}

.collapse.navbar-collapse {
  align-items: flex-end;
  flex-direction: column-reverse;
}





